# Port d'écoute du serveur backend (Local par défaut: 3000)
PORT=3000

# URI de connexion MongoDB (Laisser vide pour utiliser la configuration process.env/connection.js)
# MONGO_URI=mongodb://127.0.0.1:27017/transit

# Optionnellement, on peut juste surcharger le nom de la base de données
MONGO_DATABASE=transit

# Variables de sécurité / JWT
# JWT_SECRET=votre_secret_super_securise
